<div class="screen-videobox">
	<video
		id="screenvideo"
		[attr.width]="myvideoState.width"
		[attr.height]="myvideoState.height"
		[attr.muted]="myvideoState.muted">
	</video>
</div>
<div class="capture_select" *ngIf="showContent('CaptureSelect')">
	<div class="capture_img">
		<img
		width="320"
		height="240"
		[attr.src]="capture">
		<span
		(click)="exportScreenShot(0)"
		class="screen-dlbutton">画像をダウンロード</span>
		<span
		(click)="close()"
		class="screen-dlbutton">閉じる</span>
	</div>
</div>
<div class="center-button-s" (click)="start()">
	<img src="assets/img/sshot.png" alt="Take ScreenShot">
</div>


